 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Ad View</title>
</head>
<body>
<div class="container" dir="rtl">
    {% for advertiser in advertisers %}
    <div class="card mt-2 p-2">
        <h5 class="card-title">{{ advertiser.name }}</h5>
        <div class="card-body">
            <div class="row">
                {% for ad in advertiser.ads.all %}
                <div class="card col-md-2 p-0 mx-2">
                    <a href="click/{{ ad.id }}/">
                        <img src="{{ ad.image }}"
                             class="card-img-top">
                        <div class="card-body">
                            <span>{{ ad.title }}</span>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <form action="/advertiser_management/ad/" method="post" class="forms" >
        {% csrf_token %}
        <input type="text" id="advertiser_username" name="advertiser_username">
        <label for="advertiser_username">نام کاربری تبلیغ کننده</label>
        <input type="text" id="title" name="title">
        <label for="title">عنوان</label>
        <input type="text" id="link" name="link">
        <label for="link">لینک</label>
        <input type="text" id="image" name="image">
        <label for="image">تصویر</label>
        <br>
        <input type="submit" value="افزودن">
    </form>
</div>
</body>
</html>
